<html>
<head>
  <title>HOWATCH</title>
  <meta name="theme-color" content="#f250af">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  <link href='css/index.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='shortcut icon' href='fav.png'>
</head>
<body onclick="next()">
<div class="container mt-5">
	<h1>시계 속</h1>
	<h1 class="mid" style="margin-top: -60px;">실시간</h1>
	<h1 class="mid" style="margin-top: -90px;font-size: 250px !important;">&nbsp;호가</h1>
	<h1 class="big mt-5" id=title-str style="position: absolute; top:35%;opacity: 0;">HOWATCH</h1>
	<h1 class="footer">Designed by<br>2019ⓒHUME & SUJIN</h1>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	function  init() {
		 $("#title-str").animate({top: '30%',opacity:'1.0'},5000);
	}
	window.onload=init();
	function next(){
		location.replace('/main');
	}
</script>
</html>