
body {
	font-family: 'Black Han Sans', sans-serif;
	background-color: #fff;
}

h1 {
	color:#efefef;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 100px !important;
	
}
.mid{
	font-size: 200px !important;
}
.big{
	text-align: center;
	font-size: 140px !important;
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: rgba(9,68,168,0.7);
	-moz-background-clip: text;
	-webkit-background-clip: text;
}
.footer{	
	font-family: 'Bangers', cursive;
	font-size: 100px !important;
	color: #efefef;
	position: absolute;
	bottom: 20px;
}

/* styling my button */

